
/.venv/*
# Ignoriere Umgebungsvariablen-Datei
.env
.idea/*
# Ignoriere SQLite-Datenbankdatei
data/db.sqlite3
# Ignoriere Hochgeladene medien
/media/*
# Ignoriere Migrationen
/events/migrations/*
/accounts/migrations/*
/courses/migrations/*
/material/migrations/*
/courses/migrations/*