{% extends "base.html" %}
{% block title %} Anmelden {% endblock %}
{% block content %}

<style>
    .card2 {
        width: 100%;
        max-width: 600px;
        border-radius: 40px;
        background: #ffffff;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        margin: 3% auto;
        padding: 30px;
    }

    h4 {
        text-align: center;
        margin-bottom: 30px;
    }

    .input_content input {
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .error_content {
        margin-top: 10px;
        color: #ff4d4f;
        font-size: 14px;
    }

    .form-button-group {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .btn svg {
        vertical-align: middle;
        margin-right: 4px;
    }

</style>

<div class="form-group">
    <form method="post">
        {% csrf_token %}
        <div class="card2">
            <h4>Melde dich an mit deinem Account!</h4>

            <div class="input_content">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="input_content">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <div class="error_content">
                {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-button-group">
                <button class="btn btn-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-person-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    Einloggen
                </button>

                <a href="{% url 'home' %}" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Abbrechen
                </a>
            </div>
        </div>
    </form>
</div>
<br/>

{% endblock %}
