{% extends 'base.html' %}
{% load static %}
{% load roles %}
{% block extra_head %}
    <link href="{% static 'libs/bootstrap_duallistbox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if user.is_authenticated and user|is_group:"Teacher" or user.is_staff %}
        <h2>Kurs aktualisieren</h2>
        <form class="form-control" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Speichern</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'home' %}'">Abbrechen</button>
        </form>
    {% else %}
       <p> Sie dürfen hier nicht sein!</p>
    {% endif%}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'libs/bootstrap_duallistbox.js' %}"></script>
    <script src="{% static 'courses/js/courses.js' %}"></script>
{% endblock %}