{% block content %}
<div class="event-overview">
  <h2 class="h4 mb-3">Anstehende Termine</h2>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="even-overview-inner">
        {% for event in events %}
          <div class="mb-3 border rounded p-2">
            <h6 class="mb-1">{{ event.course.title }}</h6>
            <small class="text-muted">
              Start: {{ event.start_date }}<br>
              Ende: {{ event.end_date }}
            </small>
          </div>
        {% endfor %}
      </div>
      <a href="{% url "all_events" %}" class="btn btn-dark mt-2">Zur Terminübersicht</a>
    </div>
  </div>
</div>
{% endblock %}
